@if (regularisationRedevance(); as regularisationRedevanceRef) {
  <section class="adm-page">
    <header class="adm-page__header">
      <div>
        <p class="adm-page__eyebrow" jhiTranslate="admSupervisionVentesApp.regularisationRedevance.detail.title">
          Regularisation Redevance
        </p>
        <h1 data-cy="regularisationRedevanceDetailsHeading">{{ regularisationRedevanceRef.reference }}</h1>
        <p>{{ regularisationRedevanceRef.calcul?.reference || '--' }}</p>
      </div>
      <div class="adm-page__actions">
        <button type="button" (click)="previousState()" class="adm-button adm-button--ghost" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" /> <span jhiTranslate="entity.action.back">Back</span>
        </button>
        <a [routerLink]="['/regularisation-redevance', regularisationRedevanceRef.id, 'edit']" class="adm-button">
          <fa-icon icon="pencil-alt" /> <span jhiTranslate="entity.action.edit">Edit</span>
        </a>
      </div>
    </header>

    <jhi-alert-error />
    <jhi-alert />

    <article class="adm-card adm-card--spaced">
      <div class="adm-section-heading">
        <div>
          <h2 jhiTranslate="admSupervisionVentesApp.regularisationRedevance.detail.title">Regularisation Redevance</h2>
        </div>
      </div>

      <div class="adm-detail-grid">
        <div class="adm-detail-block">
          <span class="adm-detail-block__label" jhiTranslate="admSupervisionVentesApp.regularisationRedevance.calcul">Calcul</span>
          @if (regularisationRedevanceRef.calcul) {
            <a [routerLink]="['/calcul-redevance', regularisationRedevanceRef.calcul.id, 'view']">{{
              regularisationRedevanceRef.calcul.reference
            }}</a>
          } @else {
            <strong>--</strong>
          }
        </div>
        <div class="adm-detail-block">
          <span class="adm-detail-block__label" jhiTranslate="admSupervisionVentesApp.regularisationRedevance.montant">Montant</span>
          <strong>{{ regularisationRedevanceRef.montant }}</strong>
        </div>
        <div class="adm-detail-block">
          <span class="adm-detail-block__label" jhiTranslate="admSupervisionVentesApp.regularisationRedevance.dateRegularisation"
            >Date Regularisation</span
          >
          <strong>{{ regularisationRedevanceRef.dateRegularisation | formatMediumDatetime }}</strong>
        </div>
        <div class="adm-detail-block adm-detail-block--full">
          <span class="adm-detail-block__label" jhiTranslate="admSupervisionVentesApp.regularisationRedevance.motif">Motif</span>
          <strong>{{ regularisationRedevanceRef.motif }}</strong>
        </div>
      </div>
    </article>
  </section>
}
