<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (calculRedevance(); as calculRedevanceRef) {
      <div>
        <h2 data-cy="calculRedevanceDetailsHeading">
          <span jhiTranslate="admSupervisionVentesApp.calculRedevance.detail.title">Calcul Redevance</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ calculRedevanceRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.calculRedevance.reference">Reference</span></dt>
          <dd>
            <span>{{ calculRedevanceRef.reference }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.calculRedevance.periodeDebut">Periode Debut</span></dt>
          <dd>
            <span>{{ calculRedevanceRef.periodeDebut | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.calculRedevance.periodeFin">Periode Fin</span></dt>
          <dd>
            <span>{{ calculRedevanceRef.periodeFin | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.calculRedevance.chiffreAffaires">Chiffre Affaires</span></dt>
          <dd>
            <span>{{ calculRedevanceRef.chiffreAffaires }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.calculRedevance.montantRedevance">Montant Redevance</span></dt>
          <dd>
            <span>{{ calculRedevanceRef.montantRedevance }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.calculRedevance.statut">Statut</span></dt>
          <dd>
            <span [jhiTranslate]="'admSupervisionVentesApp.StatutRedevance.' + (calculRedevanceRef.statut ?? 'null')">{{
              {
                null: '',
                CALCULEE: 'CALCULEE',
                VALIDEE: 'VALIDEE',
                REGULARISEE: 'REGULARISEE',
                PARTIELLEMENT_PAYEE: 'PARTIELLEMENT_PAYEE',
                PAYEE: 'PAYEE',
                ANNULEE: 'ANNULEE',
              }[calculRedevanceRef.statut ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.calculRedevance.dateCalcul">Date Calcul</span></dt>
          <dd>
            <span>{{ calculRedevanceRef.dateCalcul | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.calculRedevance.boutique">Boutique</span></dt>
          <dd>
            @if (calculRedevance()!.boutique) {
              <div>
                <a [routerLink]="['/boutique', calculRedevance()!.boutique?.id, 'view']">{{ calculRedevanceRef.boutique?.nom }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.calculRedevance.locataire">Locataire</span></dt>
          <dd>
            @if (calculRedevance()!.locataire) {
              <div>
                <a [routerLink]="['/locataire', calculRedevance()!.locataire?.id, 'view']">{{ calculRedevanceRef.locataire?.nom }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/calcul-redevance', calculRedevanceRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
