<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-scan-inconnu-heading"
        data-cy="ScanInconnuCreateUpdateHeading"
        jhiTranslate="admSupervisionVentesApp.scanInconnu.home.createOrEditLabel"
      >
        Create or edit a Scan Inconnu
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let codeScanneRef = editForm.get('codeScanne')!;
        <div class="mb-3">
          <label class="form-label" for="field_codeScanne" jhiTranslate="admSupervisionVentesApp.scanInconnu.codeScanne">Code Scanne</label>
          <input
            type="text"
            class="form-control"
            name="codeScanne"
            id="field_codeScanne"
            data-cy="codeScanne"
            formControlName="codeScanne"
          />
          @if (codeScanneRef.invalid && (codeScanneRef.dirty || codeScanneRef.touched)) {
            <div>
              @if (editForm.get('codeScanne')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('codeScanne')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        @let ecranOrigineRef = editForm.get('ecranOrigine')!;
        <div class="mb-3">
          <label class="form-label" for="field_ecranOrigine" jhiTranslate="admSupervisionVentesApp.scanInconnu.ecranOrigine"
            >Ecran Origine</label
          >
          <input
            type="text"
            class="form-control"
            name="ecranOrigine"
            id="field_ecranOrigine"
            data-cy="ecranOrigine"
            formControlName="ecranOrigine"
          />
          @if (ecranOrigineRef.invalid && (ecranOrigineRef.dirty || ecranOrigineRef.touched)) {
            <div>
              @if (editForm.get('ecranOrigine')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        @let dateScanRef = editForm.get('dateScan')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateScan" jhiTranslate="admSupervisionVentesApp.scanInconnu.dateScan">Date Scan</label>
          <div class="d-flex">
            <input
              id="field_dateScan"
              data-cy="dateScan"
              type="datetime-local"
              class="form-control"
              name="dateScan"
              formControlName="dateScan"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateScanRef.invalid && (dateScanRef.dirty || dateScanRef.touched)) {
            <div>
              @if (editForm.get('dateScan')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateScan')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let commentaireRef = editForm.get('commentaire')!;
        <div class="mb-3">
          <label class="form-label" for="field_commentaire" jhiTranslate="admSupervisionVentesApp.scanInconnu.commentaire"
            >Commentaire</label
          >
          <input
            type="text"
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          />
          @if (commentaireRef.invalid && (commentaireRef.dirty || commentaireRef.touched)) {
            <div>
              @if (editForm.get('commentaire')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let resoluRef = editForm.get('resolu')!;
        <div class="mb-3">
          <label class="form-label" for="field_resolu" jhiTranslate="admSupervisionVentesApp.scanInconnu.resolu">Resolu</label>
          <input type="checkbox" class="form-check" name="resolu" id="field_resolu" data-cy="resolu" formControlName="resolu" />
          @if (resoluRef.invalid && (resoluRef.dirty || resoluRef.touched)) {
            <div>
              @if (editForm.get('resolu')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_boutique" jhiTranslate="admSupervisionVentesApp.scanInconnu.boutique">Boutique</label>
          <select
            class="form-control"
            id="field_boutique"
            data-cy="boutique"
            name="boutique"
            formControlName="boutique"
            [compareWith]="compareBoutique"
          >
            @if (!editForm.get('boutique')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (boutiqueOption of boutiquesSharedCollection(); track $index) {
              <option [ngValue]="boutiqueOption">{{ boutiqueOption.nom }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['boutique'])!.invalid && (editForm.get(['boutique'])!.dirty || editForm.get(['boutique'])!.touched)) {
          <div>
            @if (editForm.get(['boutique'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_produitAffecte" jhiTranslate="admSupervisionVentesApp.scanInconnu.produitAffecte"
            >Produit Affecte</label
          >
          <select
            class="form-control"
            id="field_produitAffecte"
            data-cy="produitAffecte"
            name="produitAffecte"
            formControlName="produitAffecte"
            [compareWith]="compareProduit"
          >
            <option [ngValue]="null"></option>
            @for (produitOption of produitsSharedCollection(); track $index) {
              <option [ngValue]="produitOption">{{ produitOption.designation }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
