@if (paiementRedevance(); as paiementRedevanceRef) {
  <section class="adm-page">
    <header class="adm-page__header">
      <div>
        <p class="adm-page__eyebrow" jhiTranslate="admSupervisionVentesApp.paiementRedevance.detail.title">Paiement Redevance</p>
        <h1 data-cy="paiementRedevanceDetailsHeading">{{ paiementRedevanceRef.reference }}</h1>
        <p>{{ paiementRedevanceRef.calcul?.reference || '--' }}</p>
      </div>
      <div class="adm-page__actions">
        <button type="button" (click)="previousState()" class="adm-button adm-button--ghost" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" /> <span jhiTranslate="entity.action.back">Back</span>
        </button>
        <a [routerLink]="['/paiement-redevance', paiementRedevanceRef.id, 'edit']" class="adm-button">
          <fa-icon icon="pencil-alt" /> <span jhiTranslate="entity.action.edit">Edit</span>
        </a>
      </div>
    </header>

    <jhi-alert-error />
    <jhi-alert />

    <article class="adm-card adm-card--spaced">
      <div class="adm-section-heading">
        <div>
          <h2 jhiTranslate="admSupervisionVentesApp.paiementRedevance.detail.title">Paiement Redevance</h2>
        </div>
      </div>

      <div class="adm-detail-grid">
        <div class="adm-detail-block">
          <span class="adm-detail-block__label" jhiTranslate="admSupervisionVentesApp.paiementRedevance.calcul">Calcul</span>
          @if (paiementRedevanceRef.calcul) {
            <a [routerLink]="['/calcul-redevance', paiementRedevanceRef.calcul.id, 'view']">{{ paiementRedevanceRef.calcul.reference }}</a>
          } @else {
            <strong>--</strong>
          }
        </div>
        <div class="adm-detail-block">
          <span class="adm-detail-block__label" jhiTranslate="admSupervisionVentesApp.paiementRedevance.montant">Montant</span>
          <strong>{{ paiementRedevanceRef.montant }}</strong>
        </div>
        <div class="adm-detail-block">
          <span class="adm-detail-block__label" jhiTranslate="admSupervisionVentesApp.paiementRedevance.datePaiement">Date Paiement</span>
          <strong>{{ paiementRedevanceRef.datePaiement | formatMediumDate }}</strong>
        </div>
        <div class="adm-detail-block">
          <span class="adm-detail-block__label" jhiTranslate="admSupervisionVentesApp.paiementRedevance.modePaiement">Mode Paiement</span>
          <strong>{{ paiementRedevanceRef.modePaiement || '--' }}</strong>
        </div>
        <div class="adm-detail-block adm-detail-block--full">
          <span class="adm-detail-block__label" jhiTranslate="admSupervisionVentesApp.paiementRedevance.commentaire">Commentaire</span>
          <strong>{{ paiementRedevanceRef.commentaire || '--' }}</strong>
        </div>
      </div>
    </article>
  </section>
}
