<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ligne-mouvement-stock-heading"
        data-cy="LigneMouvementStockCreateUpdateHeading"
        jhiTranslate="admSupervisionVentesApp.ligneMouvementStock.home.createOrEditLabel"
      >
        Create or edit a Ligne Mouvement Stock
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let quantiteRef = editForm.get('quantite')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantite" jhiTranslate="admSupervisionVentesApp.ligneMouvementStock.quantite"
            >Quantite</label
          >
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
          @if (quantiteRef.invalid && (quantiteRef.dirty || quantiteRef.touched)) {
            <div>
              @if (editForm.get('quantite')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('quantite')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantite')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_stockAvant" jhiTranslate="admSupervisionVentesApp.ligneMouvementStock.stockAvant"
            >Stock Avant</label
          >
          <input
            type="number"
            class="form-control"
            name="stockAvant"
            id="field_stockAvant"
            data-cy="stockAvant"
            formControlName="stockAvant"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_stockApres" jhiTranslate="admSupervisionVentesApp.ligneMouvementStock.stockApres"
            >Stock Apres</label
          >
          <input
            type="number"
            class="form-control"
            name="stockApres"
            id="field_stockApres"
            data-cy="stockApres"
            formControlName="stockApres"
          />
        </div>

        @let commentaireRef = editForm.get('commentaire')!;
        <div class="mb-3">
          <label class="form-label" for="field_commentaire" jhiTranslate="admSupervisionVentesApp.ligneMouvementStock.commentaire"
            >Commentaire</label
          >
          <input
            type="text"
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          />
          @if (commentaireRef.invalid && (commentaireRef.dirty || commentaireRef.touched)) {
            <div>
              @if (editForm.get('commentaire')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mouvement" jhiTranslate="admSupervisionVentesApp.ligneMouvementStock.mouvement"
            >Mouvement</label
          >
          <select
            class="form-control"
            id="field_mouvement"
            data-cy="mouvement"
            name="mouvement"
            formControlName="mouvement"
            [compareWith]="compareMouvementStock"
          >
            @if (!editForm.get('mouvement')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (mouvementStockOption of mouvementStocksSharedCollection(); track $index) {
              <option [ngValue]="mouvementStockOption">{{ mouvementStockOption.reference }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['mouvement'])!.invalid && (editForm.get(['mouvement'])!.dirty || editForm.get(['mouvement'])!.touched)) {
          <div>
            @if (editForm.get(['mouvement'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_produit" jhiTranslate="admSupervisionVentesApp.ligneMouvementStock.produit">Produit</label>
          <select
            class="form-control"
            id="field_produit"
            data-cy="produit"
            name="produit"
            formControlName="produit"
            [compareWith]="compareProduit"
          >
            @if (!editForm.get('produit')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (produitOption of produitsSharedCollection(); track $index) {
              <option [ngValue]="produitOption">{{ produitOption.designation }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['produit'])!.invalid && (editForm.get(['produit'])!.dirty || editForm.get(['produit'])!.touched)) {
          <div>
            @if (editForm.get(['produit'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_depot" jhiTranslate="admSupervisionVentesApp.ligneMouvementStock.depot">Depot</label>
          <select
            class="form-control"
            id="field_depot"
            data-cy="depot"
            name="depot"
            formControlName="depot"
            [compareWith]="compareDepotStock"
          >
            @if (!editForm.get('depot')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (depotStockOption of depotStocksSharedCollection(); track $index) {
              <option [ngValue]="depotStockOption">{{ depotStockOption.code }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['depot'])!.invalid && (editForm.get(['depot'])!.dirty || editForm.get(['depot'])!.touched)) {
          <div>
            @if (editForm.get(['depot'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
