<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (transfertStock(); as transfertStockRef) {
      <div>
        <h2 data-cy="transfertStockDetailsHeading">
          <span jhiTranslate="admSupervisionVentesApp.transfertStock.detail.title">Transfert Stock</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ transfertStockRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.transfertStock.reference">Reference</span></dt>
          <dd>
            <span>{{ transfertStockRef.reference }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.transfertStock.dateTransfert">Date Transfert</span></dt>
          <dd>
            <span>{{ transfertStockRef.dateTransfert | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.transfertStock.statut">Statut</span></dt>
          <dd>
            <span [jhiTranslate]="'admSupervisionVentesApp.StatutMouvementStock.' + (transfertStockRef.statut ?? 'null')">{{
              { null: '', BROUILLON: 'BROUILLON', VALIDE: 'VALIDE', ANNULE: 'ANNULE' }[transfertStockRef.statut ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.transfertStock.motif">Motif</span></dt>
          <dd>
            <span>{{ transfertStockRef.motif }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.transfertStock.boutiqueOrigine">Boutique Origine</span></dt>
          <dd>
            @if (transfertStock()!.boutiqueOrigine) {
              <div>
                <a [routerLink]="['/boutique', transfertStock()!.boutiqueOrigine?.id, 'view']">{{
                  transfertStockRef.boutiqueOrigine?.nom
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.transfertStock.boutiqueDestination">Boutique Destination</span></dt>
          <dd>
            @if (transfertStock()!.boutiqueDestination) {
              <div>
                <a [routerLink]="['/boutique', transfertStock()!.boutiqueDestination?.id, 'view']">{{
                  transfertStockRef.boutiqueDestination?.nom
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.transfertStock.utilisateur">Utilisateur</span></dt>
          <dd>
            <span>{{ transfertStockRef.utilisateur?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/transfert-stock', transfertStockRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
