<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ligne-vente-heading"
        data-cy="LigneVenteCreateUpdateHeading"
        jhiTranslate="admSupervisionVentesApp.ligneVente.home.createOrEditLabel"
      >
        Create or edit a Ligne Vente
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let quantiteRef = editForm.get('quantite')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantite" jhiTranslate="admSupervisionVentesApp.ligneVente.quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
          @if (quantiteRef.invalid && (quantiteRef.dirty || quantiteRef.touched)) {
            <div>
              @if (editForm.get('quantite')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('quantite')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantite')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let prixUnitaireRef = editForm.get('prixUnitaire')!;
        <div class="mb-3">
          <label class="form-label" for="field_prixUnitaire" jhiTranslate="admSupervisionVentesApp.ligneVente.prixUnitaire"
            >Prix Unitaire</label
          >
          <input
            type="number"
            class="form-control"
            name="prixUnitaire"
            id="field_prixUnitaire"
            data-cy="prixUnitaire"
            formControlName="prixUnitaire"
          />
          @if (prixUnitaireRef.invalid && (prixUnitaireRef.dirty || prixUnitaireRef.touched)) {
            <div>
              @if (editForm.get('prixUnitaire')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('prixUnitaire')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('prixUnitaire')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let remiseRef = editForm.get('remise')!;
        <div class="mb-3">
          <label class="form-label" for="field_remise" jhiTranslate="admSupervisionVentesApp.ligneVente.remise">Remise</label>
          <input type="number" class="form-control" name="remise" id="field_remise" data-cy="remise" formControlName="remise" />
          @if (remiseRef.invalid && (remiseRef.dirty || remiseRef.touched)) {
            <div>
              @if (editForm.get('remise')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('remise')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let montantLigneRef = editForm.get('montantLigne')!;
        <div class="mb-3">
          <label class="form-label" for="field_montantLigne" jhiTranslate="admSupervisionVentesApp.ligneVente.montantLigne"
            >Montant Ligne</label
          >
          <input
            type="number"
            class="form-control"
            name="montantLigne"
            id="field_montantLigne"
            data-cy="montantLigne"
            formControlName="montantLigne"
          />
          @if (montantLigneRef.invalid && (montantLigneRef.dirty || montantLigneRef.touched)) {
            <div>
              @if (editForm.get('montantLigne')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('montantLigne')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('montantLigne')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let codeBarresScanneRef = editForm.get('codeBarresScanne')!;
        <div class="mb-3">
          <label class="form-label" for="field_codeBarresScanne" jhiTranslate="admSupervisionVentesApp.ligneVente.codeBarresScanne"
            >Code Barres Scanne</label
          >
          <input
            type="text"
            class="form-control"
            name="codeBarresScanne"
            id="field_codeBarresScanne"
            data-cy="codeBarresScanne"
            formControlName="codeBarresScanne"
          />
          @if (codeBarresScanneRef.invalid && (codeBarresScanneRef.dirty || codeBarresScanneRef.touched)) {
            <div>
              @if (editForm.get('codeBarresScanne')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vente" jhiTranslate="admSupervisionVentesApp.ligneVente.vente">Vente</label>
          <select class="form-control" id="field_vente" data-cy="vente" name="vente" formControlName="vente" [compareWith]="compareVente">
            @if (!editForm.get('vente')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (venteOption of ventesSharedCollection(); track $index) {
              <option [ngValue]="venteOption">{{ venteOption.numeroTicket }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['vente'])!.invalid && (editForm.get(['vente'])!.dirty || editForm.get(['vente'])!.touched)) {
          <div>
            @if (editForm.get(['vente'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_produit" jhiTranslate="admSupervisionVentesApp.ligneVente.produit">Produit</label>
          <select
            class="form-control"
            id="field_produit"
            data-cy="produit"
            name="produit"
            formControlName="produit"
            [compareWith]="compareProduit"
          >
            @if (!editForm.get('produit')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (produitOption of produitsSharedCollection(); track $index) {
              <option [ngValue]="produitOption">{{ produitOption.designation }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['produit'])!.invalid && (editForm.get(['produit'])!.dirty || editForm.get(['produit'])!.touched)) {
          <div>
            @if (editForm.get(['produit'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
