<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (receptionProduit(); as receptionProduitRef) {
      <div>
        <h2 data-cy="receptionProduitDetailsHeading">
          <span jhiTranslate="admSupervisionVentesApp.receptionProduit.detail.title">Reception Produit</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ receptionProduitRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.receptionProduit.reference">Reference</span></dt>
          <dd>
            <span>{{ receptionProduitRef.reference }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.receptionProduit.dateReception">Date Reception</span></dt>
          <dd>
            <span>{{ receptionProduitRef.dateReception | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.receptionProduit.fournisseur">Fournisseur</span></dt>
          <dd>
            <span>{{ receptionProduitRef.fournisseur }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.receptionProduit.commentaire">Commentaire</span></dt>
          <dd>
            <span>{{ receptionProduitRef.commentaire }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.receptionProduit.boutique">Boutique</span></dt>
          <dd>
            @if (receptionProduit()!.boutique) {
              <div>
                <a [routerLink]="['/boutique', receptionProduit()!.boutique?.id, 'view']">{{ receptionProduitRef.boutique?.nom }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.receptionProduit.utilisateur">Utilisateur</span></dt>
          <dd>
            <span>{{ receptionProduitRef.utilisateur?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/reception-produit', receptionProduitRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
