<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (stockProduit(); as stockProduitRef) {
      <div>
        <h2 data-cy="stockProduitDetailsHeading">
          <span jhiTranslate="admSupervisionVentesApp.stockProduit.detail.title">Stock Produit</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ stockProduitRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.stockProduit.quantiteTheorique">Quantite Theorique</span></dt>
          <dd>
            <span>{{ stockProduitRef.quantiteTheorique }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.stockProduit.stockAlerte">Stock Alerte</span></dt>
          <dd>
            <span>{{ stockProduitRef.stockAlerte }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.stockProduit.dateDernierMouvement">Date Dernier Mouvement</span></dt>
          <dd>
            <span>{{ stockProduitRef.dateDernierMouvement | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.stockProduit.produit">Produit</span></dt>
          <dd>
            @if (stockProduit()!.produit) {
              <div>
                <a [routerLink]="['/produit', stockProduit()!.produit?.id, 'view']">{{ stockProduitRef.produit?.designation }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.stockProduit.depot">Depot</span></dt>
          <dd>
            @if (stockProduit()!.depot) {
              <div>
                <a [routerLink]="['/depot-stock', stockProduit()!.depot?.id, 'view']">{{ stockProduitRef.depot?.code }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/stock-produit', stockProduitRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
