<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-historique-code-barres-heading"
        data-cy="HistoriqueCodeBarresCreateUpdateHeading"
        jhiTranslate="admSupervisionVentesApp.historiqueCodeBarres.home.createOrEditLabel"
      >
        Create or edit a Historique Code Barres
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let ancienCodeRef = editForm.get('ancienCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_ancienCode" jhiTranslate="admSupervisionVentesApp.historiqueCodeBarres.ancienCode"
            >Ancien Code</label
          >
          <input
            type="text"
            class="form-control"
            name="ancienCode"
            id="field_ancienCode"
            data-cy="ancienCode"
            formControlName="ancienCode"
          />
          @if (ancienCodeRef.invalid && (ancienCodeRef.dirty || ancienCodeRef.touched)) {
            <div>
              @if (editForm.get('ancienCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        @let nouveauCodeRef = editForm.get('nouveauCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_nouveauCode" jhiTranslate="admSupervisionVentesApp.historiqueCodeBarres.nouveauCode"
            >Nouveau Code</label
          >
          <input
            type="text"
            class="form-control"
            name="nouveauCode"
            id="field_nouveauCode"
            data-cy="nouveauCode"
            formControlName="nouveauCode"
          />
          @if (nouveauCodeRef.invalid && (nouveauCodeRef.dirty || nouveauCodeRef.touched)) {
            <div>
              @if (editForm.get('nouveauCode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('nouveauCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        @let motifRef = editForm.get('motif')!;
        <div class="mb-3">
          <label class="form-label" for="field_motif" jhiTranslate="admSupervisionVentesApp.historiqueCodeBarres.motif">Motif</label>
          <input type="text" class="form-control" name="motif" id="field_motif" data-cy="motif" formControlName="motif" />
          @if (motifRef.invalid && (motifRef.dirty || motifRef.touched)) {
            <div>
              @if (editForm.get('motif')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let dateChangementRef = editForm.get('dateChangement')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateChangement" jhiTranslate="admSupervisionVentesApp.historiqueCodeBarres.dateChangement"
            >Date Changement</label
          >
          <div class="d-flex">
            <input
              id="field_dateChangement"
              data-cy="dateChangement"
              type="datetime-local"
              class="form-control"
              name="dateChangement"
              formControlName="dateChangement"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateChangementRef.invalid && (dateChangementRef.dirty || dateChangementRef.touched)) {
            <div>
              @if (editForm.get('dateChangement')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateChangement')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_produit" jhiTranslate="admSupervisionVentesApp.historiqueCodeBarres.produit">Produit</label>
          <select
            class="form-control"
            id="field_produit"
            data-cy="produit"
            name="produit"
            formControlName="produit"
            [compareWith]="compareProduit"
          >
            @if (!editForm.get('produit')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (produitOption of produitsSharedCollection(); track $index) {
              <option [ngValue]="produitOption">{{ produitOption.designation }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['produit'])!.invalid && (editForm.get(['produit'])!.dirty || editForm.get(['produit'])!.touched)) {
          <div>
            @if (editForm.get(['produit'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_utilisateur" jhiTranslate="admSupervisionVentesApp.historiqueCodeBarres.utilisateur"
            >Utilisateur</label
          >
          <select
            class="form-control"
            id="field_utilisateur"
            data-cy="utilisateur"
            name="utilisateur"
            formControlName="utilisateur"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
