<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-mouvement-stock-heading"
        data-cy="MouvementStockCreateUpdateHeading"
        jhiTranslate="admSupervisionVentesApp.mouvementStock.home.createOrEditLabel"
      >
        Create or edit a Mouvement Stock
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let referenceRef = editForm.get('reference')!;
        <div class="mb-3">
          <label class="form-label" for="field_reference" jhiTranslate="admSupervisionVentesApp.mouvementStock.reference">Reference</label>
          <input type="text" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
          @if (referenceRef.invalid && (referenceRef.dirty || referenceRef.touched)) {
            <div>
              @if (editForm.get('reference')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('reference')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        @let typeMouvementRef = editForm.get('typeMouvement')!;
        <div class="mb-3">
          <label class="form-label" for="field_typeMouvement" jhiTranslate="admSupervisionVentesApp.mouvementStock.typeMouvement"
            >Type Mouvement</label
          >
          <select
            class="form-control"
            name="typeMouvement"
            formControlName="typeMouvement"
            id="field_typeMouvement"
            data-cy="typeMouvement"
          >
            <option [ngValue]="null">{{ 'admSupervisionVentesApp.TypeMouvementStock.null' | translate }}</option>
            @for (typeMouvementStock of typeMouvementStockValues; track $index) {
              <option [value]="typeMouvementStock">
                {{ 'admSupervisionVentesApp.TypeMouvementStock.' + typeMouvementStock | translate }}
              </option>
            }
          </select>
          @if (typeMouvementRef.invalid && (typeMouvementRef.dirty || typeMouvementRef.touched)) {
            <div>
              @if (editForm.get('typeMouvement')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let statutRef = editForm.get('statut')!;
        <div class="mb-3">
          <label class="form-label" for="field_statut" jhiTranslate="admSupervisionVentesApp.mouvementStock.statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'admSupervisionVentesApp.StatutMouvementStock.null' | translate }}</option>
            @for (statutMouvementStock of statutMouvementStockValues; track $index) {
              <option [value]="statutMouvementStock">
                {{ 'admSupervisionVentesApp.StatutMouvementStock.' + statutMouvementStock | translate }}
              </option>
            }
          </select>
          @if (statutRef.invalid && (statutRef.dirty || statutRef.touched)) {
            <div>
              @if (editForm.get('statut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let dateMouvementRef = editForm.get('dateMouvement')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateMouvement" jhiTranslate="admSupervisionVentesApp.mouvementStock.dateMouvement"
            >Date Mouvement</label
          >
          <div class="d-flex">
            <input
              id="field_dateMouvement"
              data-cy="dateMouvement"
              type="datetime-local"
              class="form-control"
              name="dateMouvement"
              formControlName="dateMouvement"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateMouvementRef.invalid && (dateMouvementRef.dirty || dateMouvementRef.touched)) {
            <div>
              @if (editForm.get('dateMouvement')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateMouvement')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let motifRef = editForm.get('motif')!;
        <div class="mb-3">
          <label class="form-label" for="field_motif" jhiTranslate="admSupervisionVentesApp.mouvementStock.motif">Motif</label>
          <input type="text" class="form-control" name="motif" id="field_motif" data-cy="motif" formControlName="motif" />
          @if (motifRef.invalid && (motifRef.dirty || motifRef.touched)) {
            <div>
              @if (editForm.get('motif')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_boutique" jhiTranslate="admSupervisionVentesApp.mouvementStock.boutique">Boutique</label>
          <select
            class="form-control"
            id="field_boutique"
            data-cy="boutique"
            name="boutique"
            formControlName="boutique"
            [compareWith]="compareBoutique"
          >
            @if (!editForm.get('boutique')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (boutiqueOption of boutiquesSharedCollection(); track $index) {
              <option [ngValue]="boutiqueOption">{{ boutiqueOption.nom }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['boutique'])!.invalid && (editForm.get(['boutique'])!.dirty || editForm.get(['boutique'])!.touched)) {
          <div>
            @if (editForm.get(['boutique'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_utilisateur" jhiTranslate="admSupervisionVentesApp.mouvementStock.utilisateur"
            >Utilisateur</label
          >
          <select
            class="form-control"
            id="field_utilisateur"
            data-cy="utilisateur"
            name="utilisateur"
            formControlName="utilisateur"
            [compareWith]="compareUser"
          >
            @if (!editForm.get('utilisateur')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['utilisateur'])!.invalid && (editForm.get(['utilisateur'])!.dirty || editForm.get(['utilisateur'])!.touched)) {
          <div>
            @if (editForm.get(['utilisateur'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
