<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (operationCorrectiveVente(); as operationCorrectiveVenteRef) {
      <div>
        <h2 data-cy="operationCorrectiveVenteDetailsHeading">
          <span jhiTranslate="admSupervisionVentesApp.operationCorrectiveVente.detail.title">Operation Corrective Vente</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ operationCorrectiveVenteRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.operationCorrectiveVente.typeOperation">Type Operation</span></dt>
          <dd>
            <span
              [jhiTranslate]="'admSupervisionVentesApp.TypeOperationCorrective.' + (operationCorrectiveVenteRef.typeOperation ?? 'null')"
              >{{
                { null: '', ANNULATION: 'ANNULATION', RETOUR: 'RETOUR', AJUSTEMENT: 'AJUSTEMENT' }[
                  operationCorrectiveVenteRef.typeOperation ?? 'null'
                ]
              }}</span
            >
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.operationCorrectiveVente.motif">Motif</span></dt>
          <dd>
            <span>{{ operationCorrectiveVenteRef.motif }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.operationCorrectiveVente.montantImpact">Montant Impact</span></dt>
          <dd>
            <span>{{ operationCorrectiveVenteRef.montantImpact }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.operationCorrectiveVente.dateOperation">Date Operation</span></dt>
          <dd>
            <span>{{ operationCorrectiveVenteRef.dateOperation | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.operationCorrectiveVente.vente">Vente</span></dt>
          <dd>
            @if (operationCorrectiveVente()!.vente) {
              <div>
                <a [routerLink]="['/vente', operationCorrectiveVente()!.vente?.id, 'view']">{{
                  operationCorrectiveVenteRef.vente?.numeroTicket
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="admSupervisionVentesApp.operationCorrectiveVente.utilisateur">Utilisateur</span></dt>
          <dd>
            <span>{{ operationCorrectiveVenteRef.utilisateur?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/operation-corrective-vente', operationCorrectiveVenteRef.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
